
body{
    background-image: url(../img/scp\ 100.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    
}
div .logo{
    width: 15%;
    float: left;
    border-radius: 25px;
    margin: 10px;
}
ul li a{
    text-decoration: none;
    font-size: 16px;
    padding: 30px;
    color: rgb(255, 0, 0);    
}
ul li{
    list-style: none;
    display: inline;

}

.parent div{

    margin: 2%;
    width: calc( 200% / 6);
    background-color: rgb(47, 0, 255);
    float: left;
    text-align: center;
    border-radius: 30px;
    padding: 1%;
}
img{
    width: 100%;
    border-radius: 20px;
}
.callofduty{
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    background-color: yellow;
    border-start-start-radius: 15px;
    border-end-end-radius: 15px;
}
.fortnite{
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    background-color: yellow;
    border-start-start-radius: 15px;
    border-end-end-radius: 15px;
}
.pubg2{
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    background-color: yellow;
    border-start-start-radius: 15px;
    border-end-end-radius: 15px;
}
.amongus{
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    background-color: yellow;
    border-start-start-radius: 15px;
    border-end-end-radius: 15px;
}
.minecraft{
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    background-color: yellow;
    border-start-start-radius: 15px;
    border-end-end-radius: 15px;
}
.freefire{
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    background-color: yellow;
    border-start-start-radius: 15px;
    border-end-end-radius: 15px;
}
button :hover{
    color:rgb(0, 38, 255);
}