body{
    background-image: url(../img/scp\ 88.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}
div .logo{
    width: 15%;
    float: left;
    border-radius: 25px;
    margin: 10px;
}
ul li a{
    
    text-decoration: none;
    font-size: 16px;
    padding: 30px;
    color: rgb(253, 0, 0);    
}
ul li{
    list-style: none;
    display: inline;

}


button :hover{
    color:rgb(0, 38, 255);
}
.boom{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
  
}
h1{
    color:rgb(81, 255, 0);
    font-size: 100px;
    margin: 0px;
    position: absolute;
    top: 50px;
    right:  255px;
}
p{
    font-size: 40px;
    margin: 0px;
    position: absolute;
    top: 444px;
    left: 350px;
   }